<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Local</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Direccion del Local</mat-label>
          <input
            matInput
            placeholder="Direccion del Local"
            formControlName="localdireccion"
          />
          <mat-error
            *ngIf="obtenerControlCampo('localdireccion')?.errors?.['required']"
          >
            La direccion es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del local</mat-label>
          <input matInput placeholder="Nombre" formControlName="localnombre" />
          <mat-error
            *ngIf="obtenerControlCampo('localnombre')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <div>
          <app-image-upload (newFileEvent)="addNewFileLocal($event)"></app-image-upload>
        </div>
        <br />
        <button mat-raised-button color="primary"(click)="onAceptarClick($event)">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/local/mi">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
