<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Local</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <div class="form-group" *ngIf="obtenerControlCampo('localdireccion')?.errors?.['required']">
          <label for="exampleFormControlInput1">Direccion del local</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Calle 123">
        </div>
        <div class="form-group" *ngIf="obtenerControlCampo('localnombre')?.errors?.['required']">
          <label for="exampleFormControlInput1">Nombre del local</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Las bicis">
        </div>
        <div class="form-group" *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">
          <label for="exampleFormControlInput1">Propietario</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Propietario">
        </div>
        
        <div *ngIf="obtenerControlCampo('localfoto')?.errors?.['required']">
        <app-media></app-media>
      </div>
      <!--
        <mat-form-field class="example-full-width">
          <mat-label>localdireccion</mat-label>
          <input
            matInput
            placeholder="Direccion del Local"
            formControlName="localdireccion"
          />
          <mat-error
            *ngIf="obtenerControlCampo('localdireccion')?.errors?.['required']"
          >
            La direccion es obligatoria.
          </mat-error>
        </mat-form-field>
      -->
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/local">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
