<mat-card>
  <mat-card-content>
    <input
      type="file"
      (change)="upload($event)"
      style="display: none"
      #fileInput
    />
    <button mat-raised-button color="primary" (click)="openFileInput()">
      <mat-icon>cloud_upload</mat-icon>
      Subir Imagen
    </button>
    <!-- <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>-->
    <!-- no es necesario mostrar esto -->

  </mat-card-content>

  <div *ngIf="selectedFile" class="preview-container">
    <img [src]="imagePreview" alt="Vista previa de la imagen" class="preview-image" />
  </div>
</mat-card>
