<mat-toolbar color="primary">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsuarios">Usuarios</button>
  <button mat-button [matMenuTriggerFor]="menuLocales">Locales</button>
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuario/nuevo">Registro Cliente</button>
  <button mat-menu-item routerLink="/usuario/empresario">Registro Empresario</button>
  <button mat-menu-item routerLink="/usuario">Listar</button>

  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuLocales="matMenu">
  <button mat-menu-item routerLink="/local/nuevo">Registrar Local</button>
  <button mat-menu-item routerLink="/local">Listar Locales</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>
