

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseñas</title>
</head>
<body>
    <div class="container">
        <br />
      <h2 style="text-align: center">Lista de Reseñas</h2>

      
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Columna codigo -->
    <ng-container matColumnDef="codigo"> <!--- Aqui se pone igual que en el ts-->
      <th mat-header-cell *matHeaderCellDef> Codigo </th> <!--- Esto es lo que ve el usuario, se pone cualquier cosa -->
      <td mat-cell *matCellDef="let element"> {{element.resenaid}} </td> <!--- Aqui debe ser igual que en el model de ingredient-->
    </ng-container>

<!-- Columna Estrellas -->
    <ng-container matColumnDef="numeroestrellas"> <!--- Aqui se pone igual que en el ts-->
        <th mat-header-cell *matHeaderCellDef> Estrellas </th> <!--- Esto es lo que ve el usuario, se pone cualquier cosa -->
        <td mat-cell *matCellDef="let element"> <span *ngFor="let _ of [].constructor(element.resenaestrellas); let i = index" style="color: yellow; font-size: 30px;">&#9733;</span> </td> <!--- Aqui debe ser igual que en el model de ingredient-->
      </ng-container>
    

    <!-- Columna Tipo -->
    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef> Comentario </th>
      <td mat-cell *matCellDef="let element"> {{element.resenacomentario}} </td>
    </ng-container>

    <!-- Columna postre (la asociada a reserva) -->
    <ng-container matColumnDef="reserva">
      <th mat-header-cell *matHeaderCellDef> Codigo de Reserva </th>
      <td mat-cell *matCellDef="let element"> {{element.reserva.reservaid}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.reserva.usuario.usuarionombre}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
        [pageSizeOptions]="[2, 4, 6, 8]"
        showFirstLastButtons></mat-paginator>


    </div>
    
    
</body>
</html>




