.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  /* Espacio entre tarjetas */
  padding: 20px;
  /* Agrega relleno al contenedor */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  max-width: 1200px;
  /* Ancho máximo del contenedor */
}

.card {
  width: 100%;
  /* Opcional: Establece el ancho máximo de las tarjetas */
  max-width: 250px;
  /* Ancho máximo de las tarjetas */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .card-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      /* Ajusta el tamaño de las tarjetas para pantallas más pequeñas */
  }
}


.example-header-image {
  background-image: url('https://img.freepik.com/fotos-premium/textura-papel-turquesa-motas-ruido_469558-22423.jpg');
  background-size: cover;
}
